<?xml version="1.0" ?>
<model>
  <name>wall_1</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Aryan Singh</name>
    <email>aryan7109singh@gmail.com</email>
  </author>
  <description>
    A static wall model with material defined in .obj and .mtl files.
  </description>
</model>
